{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
<section class="pricing py-5">
  <style>
  </style>
    <div class="container">
      <div class="row">
        <!-- Free Tier -->
        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Membros</h5>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"></i></span>Membros Cadastrados do Manna Team</li>
              </ul>
              <div class="d-grid">
                <a href="#" class="btn btn-primary text-uppercase">Gerenciar</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Hubs</h5>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"></i></span>Hubs Cadastrados do Manna Team</li>
              </ul>
              <div class="d-grid">
                <a href="#" class="btn btn-primary text-uppercase">Gerenciar</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Instituições</h5>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"></i></span>Instituições Afiliadas do Manna Team</li>
              </ul>
              <div class="d-grid">
                <a href="#" class="btn btn-primary text-uppercase">Gerenciar</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Projetos</h5>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"></i></span>Projetos do Manna Team</li>
              </ul>
              <div class="d-grid">
                <a href="#" class="btn btn-primary text-uppercase">Gerenciar</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Bolsas</h5>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"></i></span>Bolsas dos Membros do Manna Team</li>
              </ul>
              <div class="d-grid">
                <a href="#" class="btn btn-primary text-uppercase">Gerenciar</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Eventos</h5>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"></i></span>Eventos do Manna Team</li>
              </ul>
              <div class="d-grid">
                <a href="#" class="btn btn-primary text-uppercase">Gerenciar</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Certificados</h5>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"></i></span>Certificados Emitidos pelo Manna Team</li>
              </ul>
              <div class="d-grid">
                <a href="#" class="btn btn-primary text-uppercase">Gerenciar</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Prêmios</h5>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"></i></span>Prêmios Relacionados ao Manna Team</li>
              </ul>
              <div class="d-grid">
                <a href="#" class="btn btn-primary text-uppercase">Gerenciar</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Alunos</h5>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"></i></span>Alunos Atendidos pelo Manna Team</li>
              </ul>
              <div class="d-grid">
                <a href="#" class="btn btn-primary text-uppercase">Gerenciar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}