{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
<section class="pricing py-5">
    <div class="container">
      <div class="row">
        <!-- Free Tier -->
        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Membros</h5>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"></i></span>Membros cadastrados do Manna Team</li>
              </ul>
              <div class="d-grid">
                <a href="{% url 'membros' %}" class="btn btn-primary text-uppercase">Gerenciar</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Hubs</h5>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"></i></span>Hubs cadastrados do Manna Team</li>
              </ul>
              <div class="d-grid">
                <a href="{% url 'hubs' %}" class="btn btn-primary text-uppercase">Gerenciar</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Instituições</h5>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"></i></span>Instituições afiliadas do Manna Team</li>
              </ul>
              <div class="d-grid">
                <a href="{% url 'instituicoes' %}" class="btn btn-primary text-uppercase">Gerenciar</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Projetos</h5>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"></i></span>Projetos do Manna Team</li>
              </ul>
              <div class="d-grid">
                <a href="{% url 'projetos' %}" class="btn btn-primary text-uppercase">Gerenciar</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Bolsas</h5>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"></i></span>Bolsas dos membros do Manna Team</li>
              </ul>
              <div class="d-grid">
                <a href="{% url 'bolsas' %}" class="btn btn-primary text-uppercase">Gerenciar</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Publicações</h5>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"></i></span>Publicações do Manna Team</li>
              </ul>
              <div class="d-grid">
                <a href="{% url 'publicacoes' %}" class="btn btn-primary text-uppercase">Gerenciar</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Eventos</h5>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"></i></span>Eventos do Manna Team</li>
              </ul>
              <div class="d-grid">
                <a href="{% url 'eventos' %}" class="btn btn-primary text-uppercase">Gerenciar</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Certificados</h5>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"></i></span>Certificados emitidos pelo Manna Team</li>
              </ul>
              <div class="d-grid">
                <a href="{% url 'certificados' %}" class="btn btn-primary text-uppercase">Gerenciar</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Prêmios</h5>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"></i></span>Prêmios relacionados ao Manna Team</li>
              </ul>
              <div class="d-grid">
                <a href="{% url 'premios' %}" class="btn btn-primary text-uppercase">Gerenciar</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Alunos</h5>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"></i></span>Alunos atendidos pelo Manna Team</li>
              </ul>
              <div class="d-grid">
                <a href="{% url 'alunos' %}" class="btn btn-primary text-uppercase">Gerenciar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}