{% extends 'pages/base.html' %}

{% load static %}

{% block content %}
<script src="https://unpkg.com/feather-icons"></script>
<section class="pricing py-5">
<div class="container">
  <div class="row">
  <!-- Header -->
  <div class="card mb-4 bg-primary">
  <header class="bg-primary text-center py-2 mb-2">
    <div class="container">
      <h1 class="fw-light text-white">Instituições</h1>
    </div>
  </header>
  </div>

  <!-- Search -->
  <div id="content">
    <form class='form-inline' method="POST" action="{% url 'filtro-instituicao' %}">
      {% csrf_token %}
      <div class="input-group">
        <input type='text' name='search' class="form-control search-form " placeholder="Filtrar Instituições">
        <span class="input-group-btn" style="width:39px">
          <button id="search-this" type="submit" class="pull-right btn btn-default search-btn">
              <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
  </div>

  <!-- Page Content -->
  <div class="card mb-4 bg-white">
  <div class="container">
    <div class="row">
      <table id ="table" class="table align-middle mb-0 bg-white">
        <thead class="bg-white">
          <tr>
            <th>Nome</th>
            <th>Hub</th>
            <th>Esfera</th>
          </tr>
        </thead>
        <tbody>
          </tr>
          {% for institution in result %}
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <img
                    src="{{institution.foto}}"
                    alt=""
                    style="width: 45px; height: 45px"
                    class="rounded-circle"
                    />
                <div class="ms-3">
                  <p class="fw-bold mb-1">{{institution.nome}}</p>
                </div>
              </div>
            </td>
            <td>
              <p class="fw-normal mb-1">{{institution.hub}}</p>
            </td>
            <td>
              {% if institution.esfera == 1%}
              <p class="fw-normal mb-1">Municipal</p>
              {% elif institution.esfera == 2%}
              <p class="fw-normal mb-1">Estadual</p>
              {% elif institution.esfera == 3%}
              <p class="fw-normal mb-1">Federal</p>
              {% elif institution.esfera == 4%}
              <p class="fw-normal mb-1">Privada</p>
              {% elif institution.esfera == 5%}
              <p class="fw-normal mb-1">Outro</p>
              {% endif %}
            <td>
              <td>
                <form method="POST" action="{% url 'instituicao' %}">
                {% csrf_token %}
                <input type='hidden' name='value' value="{{institution.nome}}">
                <button type="submit"><h6 data-feather="book-open"></h6></button>
                </form>
              </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
</div> 
  
 </div>
</div>
</section>
<script>
  feather.replace()
  </script>
        {% endblock %}