{% extends 'pages/base.html' %}

{% load static %}

{% block content %}
<script src="https://unpkg.com/feather-icons"></script>
<div class="container">
    <div class="main-body">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    {% for member in result %}
                    <img src="{{member.photo}}" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4 class="black">{{member.nane}}</h4>
                      <p class="text-secondary mb-1">{{member.category}}</p>
                      <p class="text-secondary mb-1">N° {{member.id}}</p>
                      <p class="text-muted font-size-sm">{{member.institution}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0" data-feather="mail"></h6>
                    <span class="text-secondary">{{member.email}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0" data-feather="smartphone"></h6>
                    <span class="text-secondary">{{member.fone}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0" data-feather="github"></h6>
                    <span class="text-secondary">{{member.git}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0" data-feather="paperclip"></h6>
                    <span class="text-secondary">{{member.lattes}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0" data-feather="linkedin"></h6>
                    <span class="text-secondary">{{member.link}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0" data-feather="instagram"></h6>
                    <span class="text-secondary">{{member.insta}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0" data-feather="twitter"></h6>
                    <span class="text-secondary">{{member.twt}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0" data-feather="facebook"></h6>
                    <span class="text-secondary">{{member.face}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0" data-feather="youtube"></h6>
                    <span class="text-secondary">{{member.youtube}}</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">CPF</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{member.cpf}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">RG</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{member.rg}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Bolsa</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {% for scholarship in scholarship %}
                      <form method="POST" action="{% url 'bolsa' %}">
                        {% csrf_token %}
                        <input type='hidden' name='value' value="{{scholarship.id}}">
                        <button type="submit"><h6 data-feather="book-open"></h6></button>
                        </form>
                      {% endfor %}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Gênero</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{member.gender}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Formação</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{member.formation}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Data de Nascimento</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     {{member.birthday}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Endereço</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{member.address}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Projeto</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{member.project}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Prêmios</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                    {{member.award}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Dados Bancários</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Nome do Banco</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{member.bankName}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Numero do Banco</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{member.bankNumber}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Numero da Agência</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{member.agencyNumber}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Numero da Conta</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{member.accountNumber}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Termo de Compromisso</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      Assinado
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Termo de Ciência</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      Assinado
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Plano de Trabalho</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      Assinado
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">LGPD</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      Assinado
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Ultimo Acesso</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      21/11/2022
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                      <a href="{% url 'editar-membro' member.id %}" class="btn btn-warning btn-sm">Editar</a>
                      <a href="{% url 'deletar-membro' member.id %}" class="btn btn-danger btn-sm">Excluir</a>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>
    <script>
        feather.replace()
        </script>
{% endblock %}