{% extends 'pages/base.html' %}

{% load static %}

{% block content %}
<script src="https://unpkg.com/feather-icons"></script>
<section class="pricing py-5">
<div class="container">
  <div class="row">
  <!-- Header -->
  <div class="card mb-4 bg-primary">
  <header class="bg-primary text-center py-2 mb-2">
    <div class="container">
      <h1 class="fw-light text-white">Publicações</h1>
    </div>
  </header>
  </div>

  <!-- Search -->
  <div id="content">
    <form class='form-inline' method="POST" action="{% url 'filtro-publicacao' %}">
      {% csrf_token %}
      <div class="input-group">
        <input type='text' name='search' class="form-control search-form " placeholder="Filtrar Publicações">
        <span class="input-group-btn" style="width:39px">
          <button id="search-this" type="submit" class="pull-right btn btn-default search-btn">
              <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
  </div>

  <!-- Page Content -->
  <div class="card mb-4 bg-white">
  <div class="container">
    <div class="row">
      <table id ="table" class="table align-middle mb-0 bg-white">
        <thead class="bg-white">
          <tr>
            <th>Título</th>
            <th>Tipo da Publicação</th>
            <th>Evento</th>
          </tr>
        </thead>
        <tbody>
          {% for publication in result %}
          <tr>
            <td>
              <p class="fw-normal mb-1">{{publication.title}}</p>
            </td>
            <td>
              <p class="fw-normal mb-1">{{publication.publicationType}}</p>
            </td>
            <td>
              <p class="fw-normal mb-1">{{publication.event}}</p>
            </td>
            <td>
              <p class="fw-normal mb-1"></p>
            </td>
              <td>
                <form method="POST" action="{% url 'publicacao' %}">
                {% csrf_token %}
                <input type='hidden' name='value' value="{{publication.id}}">
                <button type="submit"><h6 data-feather="book-open"></h6></button>
                </form>
              </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
</div> 
  
 </div>
</div>
</section>
<script>
  feather.replace()
  </script>
        {% endblock %}