{% extends 'pages/base.html' %}

{% load static %}

{% block content %}
<div class="container rounded bg-white mt-5 mb-5">
    <form>
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Foto Perfil</span></div>
            <input type="file">  
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Perfil</h4>
                </div>
                <div class="row mt-3">
                    <div class="col-md-9"><label class="labels">Nome</label><input type="text" class="form-control" placeholder="nome completo" value=""></div>
                    <div class="col-md-9"><label class="labels">Categoria</label><input type="text" class="form-control" placeholder="função no manna" value=""></div>
                    <div class="col-md-9"><label class="labels">Bolsa</label><input type="text" class="form-control" placeholder="tipo de bolsa" value=""></div>
                    <div class="col-md-9"><label class="labels">Instituição</label><input type="text" class="form-control" placeholder="instituição" value=""></div>
                    <div class="col-md-9"><label class="labels">E-mail</label><input type="text" class="form-control" placeholder="e-mail" value=""></div>
                    <div class="col-md-9"><label class="labels">Celular</label><input type="text" class="form-control" placeholder="celular" value=""></div>
                    <div class="col-md-9"><label class="labels">Git</label><input type="text" class="form-control" placeholder="git" value=""></div>
                    <div class="col-md-9"><label class="labels">Sexo</label><input type="text" class="form-control" placeholder="sexo" value=""></div>
                    <div class="col-md-9"><label class="labels">Formação</label><input type="text" class="form-control" placeholder="formação" value=""></div>
                    <div class="col-md-9"><label class="labels">Endereço</label><input type="text" class="form-control" placeholder="endereço" value=""></div>
                    <div class="col-md-9"><label class="labels">Projeto</label><input type="text" class="form-control" value="" placeholder="projeto associado"></div>
                    <div class="col-md-9"><label class="labels">Prêmio</label><input type="text" class="form-control" value="" placeholder="prêmio associado"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Dados</h4>
                </div>
                <div class="col-md-12"><label class="labels">CPF</label><input type="text" class="form-control" placeholder="cpf" value=""></div>
                <div class="col-md-12"><label class="labels">RG</label><input type="text" class="form-control" placeholder="rg" value=""></div>
                <div class="col-md-12"><label class="labels">Nome do Banco</label><input type="text" class="form-control" placeholder="nome do banco" value=""></div>
                <div class="col-md-12"><label class="labels">Número do Banco</label><input type="text" class="form-control" placeholder="número bancário" value=""></div>
                <div class="col-md-12"><label class="labels">Número da Agência</label><input type="text" class="form-control" placeholder="número da agência" value=""></div>
                <div class="col-md-12"><label class="labels">Número da Conta</label><input type="text" class="form-control" placeholder="número da conta" value=""></div>
                <div class="col-md-12"><label class="labels">Termo de Compromisso</label><input type="file" class="form-control" placeholder="" value=""></div>
            </div>
        </div>
        <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Cadastrar</button></div>
    </div>
    </form>
</div>
</div>
</div>
{% endblock %}